@model IEnumerable<Tickets.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asunto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTecnicoNavigation)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Asunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTecnicoNavigation.Nombre)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTicket">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTicket">Details</a> |
                    @* Lógica del botón "Dar Seguimiento" *@
                    @if (ViewData["IsTecnico"] != null && (bool)ViewData["IsTecnico"] == true)
                    {
                        // Este botón solo aparece para el ROL "Tecnico"
                        // Asume que tienes un controlador/vista llamado Seguimiento/Crear o similar
                        <a href="/SeguimientoTickets/Create?ticketId=@item.IdTicket" class="btn btn-sm btn-success">
                            Dar Seguimiento
                        </a>
                    }
                <a asp-action="Delete" asp-route-id="@item.IdTicket">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
