@model IEnumerable<Tickets.Models.ArchivosAdjunto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreArchivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RutaArchivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSubida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTicketNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreArchivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RutaArchivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSubida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTicketNavigation.IdTicket)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdArchivo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdArchivo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdArchivo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
